.home-container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;

  .main-container {
    width: 50%;
    height: 500px;
    border: 1px solid black;
  }

  .second-container {
    width: 50%;
    height: 500px;
    border: 1px solid black;
  }
}
